<nav class="nav bg-gray-100 flex-column">
    <div class="mb-5 logo"><img src="../assets/images/logo-ANSWER.svg" alt=""></div>

    <div class="text-gray-900 mb-auto">
      <a class="d-flex align-items-center menu-item fs-p1 fw-bolder" aria-current="page" href="#">
        <span class="material-icons me-2">assessment</span>
        Dashboard
      </a>
      <a class="d-flex align-items-center menu-item fs-p1 fw-bolder" aria-current="page" href="#">
        <span class="material-icons me-2">question_answer</span>
        Question
      </a>
      <a class="d-flex align-items-center menu-item fs-p1 fw-bolder" aria-current="page" href="#">
        <span class="material-icons me-2">assignment</span>
        Assignment
      </a>
      <a class="d-flex align-items-center menu-item fs-p1 fw-bolder" aria-current="page" href="#">
        <span class="material-icons me-2">assessment</span>
        Course
      </a>
      <a class="d-flex align-items-center menu-item fs-p1 fw-bolder" aria-current="page" href="#">
        <span class="material-icons me-2">supervisor_account</span>
        Admin
      </a>
      <a class="d-flex align-items-center menu-item fs-p1 fw-bolder" aria-current="page" href="#">
        <span class="material-icons me-2 ">settings</span>
        Settings
      </a>
    </div>

    <div class="d-flex align-items-center user ">
      <div class=""><img src="../assets/images/andychen.jpeg" alt="" class="pro-pic rounded-circle me-3"></div>
      <div class="">
        <div class="fs-p1 text-gray-900 mb-0 fw-bolder">Andy Chen</div>
        <div class="fs-p2 text-gray-600">andy0401@mail.com</div>
      </div>
    </div>
  </nav>